<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Dashboard</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet" >
    <link href="//fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mdb.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <style>
        .chart {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title"><strong>DashBoard</strong></h1>
        <hr>
        <div class="columns">
            <div class="column">
                <h5 class="title is-6">Battery Level vs Time Graph</h5>
                <div id="battery" class="chart"></div>
            </div>
            <div class="column">
                <h5 class="title is-6">Call State of User</h5>
                <div id="call_state" class="chart"></div>
            </div>
            
        </div>
        <div class="column">
            <h5 class="title is-6">Location Tracking</h5>
            <div id="gps" class="chart"></div>
        </div>
    </div>
</section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script> -->
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
  

    //   Pusher.logToConsole = true;

      const pusher = new Pusher('00bd2d16b44796f46ee2', {
        cluster: 'ap2', // gotten from Pusher app dashboard
      });
      // subscribe to crypto channel
      const channel = pusher.subscribe('my-channel')
      // listen for relevant events

      // Plotly.newPlot(graphDiv, data, layout, config)
      var battery_layout = {
        title: 'Battery Level',
        xaxis: {
          title: 'Time',
          showgrid: false,
          zeroline: false
        },
        yaxis: {
          title: 'Level',
          showline: false
        }
      };

      
      channel.bind('my-event', data => {

          const battery = JSON.parse(data.battery);
          Plotly.newPlot('battery', battery,battery_layout);
            console.log(data)
          // const bar_chart = JSON.parse(data.bar_chart);
          // Plotly.newPlot('market_cap_chart', bar_chart);

        //   const gps = JSON.parse(data.gps);
        //   Plotly.newPlot('gps', gps, gps_layout);

          const call_state = JSON.parse(data.call_state);
          Plotly.newPlot('call_state', call_state);
          
        //working
        // var gps = [{
        //         type:'scattermapbox',
        //         lon:['78.3457576'],
        //         lat:['17.4454146'],
        //         mode:'markers',
        //         marker: {
        //             size:14
        //         },
        //         text:['Hyderabad']
        //     }]


        //   var gps = [{
        //     type:'scattermapbox',
        //     lon: data.longitude,
        //     lat: data.latitude,
        //     mode: 'markers',
        //     text:data.place,
        //     marker: {
        //         size: 7,
        //         text:data.place,
        //         opacity : 0.8,
        //         reversescale : true,
        //         autocolorscale : false,
        //         symbol : 'square',
        //         line : {
        //             width:1,
        //             color:'rgba(102, 102, 102)'
        //         }
        //     },
        //     }]

        var gps = [{
                type:'scattermapbox',
                lon:JSON.parse(data.longitude),
                lat:JSON.parse(data.latitude),
                mode:'markers',
                marker: {
                    size:14
                },
                // text:JSON.parse(data.place)
            }]

            var gps_layout = {
            autosize: true,
            hovermode:'closest',
            mapbox: {
                bearing:0,
                center: {
                lat:17.3850,
                lon:78.4867
                },
                pitch:0,
                zoom:6
            },
            }


            Plotly.setPlotConfig({
                mapboxAccessToken: 'pk.eyJ1Ijoibml0aXNoMTIzIiwiYSI6ImNqdGtieXV0NjEyMmQ0NGxxNmo3c2M5bzcifQ.OBC2T25mrxqvbvrd5Hv-dg'
            })

            Plotly.newPlot('gps', gps, gps_layout);

      });
    </script>
</body>
</html>



