
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Dashboard</title>

    <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" rel="stylesheet" >
    <link href="//fonts.googleapis.com/css?family=Amaranth:400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/mdb.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <style>
        .chart {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
{% extends "home.html" %}
{% block content %}
<body>
<section class="section">
    <div class="container">
        <h1 class="title"><strong>DashBoard</strong></h1>
        <hr>
        <div class="columns">
            <div class="column">
                <h5 class="title is-6">Battery Level vs Time Graph</h5>
                <div id="battery" class="chart"></div>
            </div>
            <div class="column">
                <h5 class="title is-6">Call State of User</h5>
                <div id="call_state" class="chart"></div>
            </div>
            
        </div>
        <div class="column">
                <h5 class="title is-6">Network Speed of User</h5>
                <div id="network_speed" class="chart"></div>
        </div>
        <div class="column">
            <h5 class="title is-6">Location Tracking</h5>
            <div id="gps" class="chart"></div>
        </div>
    </div>


</section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <script type="text/javascript">
    

        function visulaization(){
            $.post('{{ url_for("retrieve_user_data", user_hash={{user_hash}})}}', {
            
            }).done(function(response) {
                
                console.log(response)

                //Start battery data processing
                var battery_layout = {
                    title: 'Battery Level',
                    xaxis: {
                      title: 'Time',
                      showgrid: false,
                      zeroline: false
                    },
                    yaxis: {
                      title: 'Level',
                      showline: false
                    }
                  };

                var battery_data = {
                  x: response['battery_timestamp'],
                  y: response['battery_level']
                };

                var battery_data_list = [battery_data];

                Plotly.newPlot('battery',battery_data_list,battery_layout);
                //End battery data processing


                //Start Call State data processing
                var call_state_data = [{
                  values: response['call_state_count_list'],
                  labels: response['call_state_list'],
                  type: 'pie'
                }];

                var call_state_layout = {
                  height: 400,
                  width: 500
                };

                Plotly.newPlot('call_state', call_state_data, call_state_layout);
                //End Call State data processing

                //Start network speed data processing
                var net_speed_layout = {
                    title: 'Network Speed',
                    xaxis: {
                      title: 'Time',
                      showgrid: false,
                      zeroline: false
                    },
                    yaxis: {
                      title: 'Speed',
                      showline: false
                    }
                  };

                var battery_data = {
                  x: response['net_speed_timestamp'],
                  y: response['net_speed']
                };

                var battery_data_list = [battery_data];

                Plotly.newPlot('battery',battery_data_list,battery_layout);
                //End network speed data processing

                //Start gps data processing
                var gps_data = [{
                    type:'scattermapbox',
                    lon:response['location_longitude'],
                    lat:response['location_latitude'],
                    mode:'markers',
                    marker: {
                        size:14
                    },
                }]

                var gps_layout = {
                autosize: true,
                hovermode:'closest',
                mapbox: {
                    bearing:0,
                    center: {
                    lat:17.3850,
                    lon:78.4867
                    },
                    pitch:0,
                    zoom:6
                },
                }


                Plotly.setPlotConfig({
                    mapboxAccessToken: 'pk.eyJ1Ijoibml0aXNoMTIzIiwiYSI6ImNqdGtieXV0NjEyMmQ0NGxxNmo3c2M5bzcifQ.OBC2T25mrxqvbvrd5Hv-dg'
                })
                    
                Plotly.newPlot('gps', gps_data, gps_layout);
                //End gps data processing

            }).fail(function() {
                console.log("something went wrong with the request");
            });
        }

        $(document).ready(function(){
            setInterval("visulaization()", 10000);
        });

    </script>
</body>

{% endblock %}
</html>



